<div class="d-flex justify-content-center" data-aos="fade-up" data-aos-duration="1500">
    <button id="previous" type="button" data-previous="previous" class="btn btn-outline-warning m-2 disabled"><</button>
    <label id="numberPage"class="btn m-2 disabled">1</label>
    <button id="next" type="button" data-next="next" class="btn btn-outline-warning m-2">></button>
</div>

<script>

let limit = 10;
let offset = 0;
let currentPage = 1;
let golabalDiscs = [];

document.addEventListener("click", async (e) => {

      if (e.target.dataset.next) {
      window.scrollTo(0, 0);
      offset += limit;
      const res = await fetch(
        `/api/v1/discs?limit=${limit}&offset=${offset}`,
        {
          headers: {
            Authorization: `Bearer ${localStorage.getItem("token")}`,
          },
        }
      );
      const data = await res.json();
      currentPage ++;
      numberPage.innerHTML = currentPage;
      if (offset > 0) previous.classList.remove("disabled");
      if (data.discs.length < limit) next.classList.add("disabled");
      if (!data.ok) window.location.href = "login";
      golabalDiscs.push(...data.discs)
      writeData(data.discs);
    }

    if (e.target.dataset.previous) {
      window.scrollTo(0, 0);
      offset -= limit;
      const res = await fetch(
        `/api/v1/discs?limit=${limit}&offset=${offset}`,
        {
          headers: {
            Authorization: `Bearer ${localStorage.getItem("token")}`,
          },
        }
      );
      const data = await res.json();
      currentPage --;
      numberPage.innerHTML = currentPage;
      if (offset == 0) previous.classList.add("disabled");
      if (data.discs.length == limit) next.classList.remove("disabled");
      if (!data.ok) window.location.href = "login";
      golabalDiscs.push(...data.discs)
      writeData(data.discs);
    }


})

</script>