<div class="container minHeight mt-5" >
  <div class="d-flex justify-content-center row">
   <div class="align-items-center">
      
      <form class=" mt-5">
      <h3 class="text-center">Registro album</h1>
       <div class="mb-3">
        <label class="form-label">Nombre album</label>
        <input type="text" class="form-control" placeholder="Ingrese nombre album" name="name">
      </div>
      <div class="mb-3">
        <label class="form-label">Nombre musico</label>
        <input type="text" class="form-control" placeholder="Ingrese nombre musico" name="artist">
      </div>
      <div class="mb-3">
        <label class="form-label">Genero musical</label>
        <input type="text" class="form-control" placeholder="Ingrese genero" name="genre">
      </div>
      <div class="mb-3">
        <label class="form-label">Año lanzamineto</label>
        <input type="text" class="form-control" placeholder="Ingrese año de lanzamineto" name="release_year">
      </div>
      <div class="mb-3">
        <label class="form-label">Sello discográfico</label>
        <input type="text" class="form-control" placeholder="Ingrese sello discográfico" name="label">
      </div>
      <div class="mb-3">
        <label class="form-label">Precio</label>
        <input type="text" class="form-control" placeholder="Ingrese precio" name="price">
      </div>
      <div class="mb-3">
        <label class="form-label">Código spotify</label>
        <input type="text" class="form-control" placeholder="Ingrese código spotify" name="url">
      </div>
       <div class="mb-3">
        <label class="form-label">URL cover album</label>
        <input type="text" class="form-control" placeholder="Ingrese URL cover album" name="cover">
      </div>
      <div id="msg" class="text-center">
        
      </div>
      
      <div class="">
        <button type="submit" class="btn btn-success position-absolute start-50 translate-middle mt-3">Registrar album</button>
      </div>
    </form>
    
   </div>
  </div>
 
  
</div>

<script>
  const msg = document.getElementById('msg')
  const writeMsg = (text) => {
    msg.innerHTML = '';
    msg.innerHTML = `<p class="mb-2 mtb-5" style="color: red;">${text}</p>`;
  }
  document.addEventListener("DOMContentLoaded", async() => {
    const res = await fetch('/api/v1/discs/admin', {
        headers: {
          Authorization: `Bearer ${localStorage.getItem('token')}`
        }
      })
      const data = await res.json()
      if(!data.ok){
        window.location.href= "login"
      }
      if(data.msg === "restricted user"){
        window.location.href= "store"
      }
  })
  document.addEventListener('submit', async (e) => {
    e.preventDefault() 
    const formData = new FormData(e.target)
    const objectFormData = Object.fromEntries(formData)
    const jsonFormData = JSON.stringify(objectFormData)
    msg.innerHTML = '';

    try {
      const res = await fetch('/api/v1/discs', {
          method: 'post', 
          body: jsonFormData, 
          headers: {
              Authorization: `Bearer ${localStorage.getItem('token')}`,
              "Content-Type": "application/json",
            }
        })
      const data = await res.json()
      console.log(data)
      if(!data.ok) {
        writeMsg(MsgTraductor(data.msg))
      }
      if(data.ok){
        window.location.href = "/adminAlbums";
      } 
     
    } catch (error) {
      console.log(error)
    }

  })
</script>


