<div class="d-flex justify-content-center ">
  
  <div class="container row row-cols-1">

    
    <div class="col-md-4">
      <img src="http://birkajazz.se/graphics2/morganLeeWay.jpg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-4">
      <div class="card-body mt-md-3">
        <h5 class="card-title">Leeway</h5>
          <p class="card-text"><b>Lee Morgan</b></p>
        <p class="card-text"><p><b>Sello:</b> Blue Note<br><b>Lanzamineto:</b> 1961<br><b>Genero:</b> Jazz</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card-body mt-md-5 text-end">
        <h2 class="card-title mb-3">$12.999</h2>
        <button href="#" class="btn btn-warning btn-lg mt-md-4">Comprar</button>
      </div>
    </div>
    <hr class="mt-md-5 mb-md-5">

    <div class="col-md-4">
      <img src="http://birkajazz.se/graphics2/morganLeeWay.jpg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-4">
      <div class="card-body mt-md-3">
        <h5 class="card-title">Leeway</h5>
          <p class="card-text"><b>Lee Morgan</b></p>
        <p class="card-text"><p><b>Sello:</b> Blue Note<br><b>Lanzamineto:</b> 1961<br><b>Genero:</b> Jazz</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card-body mt-md-5 text-end">
        <h2 class="card-title mb-3">$12.999</h2>
        <button href="#" class="btn btn-warning btn-lg mt-md-4">Comprar</button>
      </div>
    </div>
    <hr class="mt-md-5 mb-md-5">

    <div class="col-md-4">
      <img src="http://birkajazz.se/graphics2/morganLeeWay.jpg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-4">
      <div class="card-body mt-md-3">
        <h5 class="card-title">Leeway</h5>
          <p class="card-text"><b>Lee Morgan</b></p>
        <p class="card-text"><p><b>Sello:</b> Blue Note<br><b>Lanzamineto:</b> 1961<br><b>Genero:</b> Jazz</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card-body mt-md-5 text-end">
        <h2 class="card-title mb-3">$12.999</h2>
        <button href="#" class="btn btn-warning btn-lg mt-md-4">Comprar</button>
      </div>
    </div>
    <hr class="mt-md-5 mb-md-5">

    <div class="col-md-4">
      <img src="http://birkajazz.se/graphics2/morganLeeWay.jpg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-4">
      <div class="card-body mt-md-3">
        <h5 class="card-title">Leeway</h5>
          <p class="card-text"><b>Lee Morgan</b></p>
        <p class="card-text"><p><b>Sello:</b> Blue Note<br><b>Lanzamineto:</b> 1961<br><b>Genero:</b> Jazz</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card-body mt-md-5 text-end">
        <h2 class="card-title mb-3">$12.999</h2>
        <button href="#" class="btn btn-warning btn-lg mt-md-4">Comprar</button>
      </div>
    </div>
    <hr class="mt-md-5 mb-md-5">

    

    <div class="col-md-4">
      <img src="http://birkajazz.se/graphics2/morganLeeWay.jpg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <div class="text-end card-title">
        <h5 class="card-title">Leeway</h5>
        <p class="card-text"><b>Lee Morgan</b></p>
        <iframe src="https://open.spotify.com/embed/album/4tTGVQBdu5emlYtvf5ru9N" width="100%" height="75" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>  
      </div>
      </div>
    </div>
    <hr class="mt-md-5 mb-md-5">

    <div class="col-md-4">
      <img src="http://birkajazz.se/graphics2/morganLeeWay.jpg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-4">
      <div class="card-body mt-md-3">
        <h5 class="card-title">Leeway</h5>
        <p class="card-text"><b><a href="">Lee Morgan</a> </b></p>
        <p class="card-text"><p><b>Sello:</b> Blue Note<br><b>Lanzamineto:</b> 1961<br><b>Genero:</b> Jazz</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card-body mt-md-3 text-end">
        <h2 class="card-title">$12.999</h2>
        <button href="#" class="btn btn-warning btn-lg mb-1">Actualizar</button>
        <button href="#" class="btn btn-danger btn-lg ">Eliminar</button>
      </div>
    </div>
    <hr class="mt-md-5 mb-md-5">

  </div>
  
</div>
