
{{> SearchBar}}

<div class="d-flex justify-content-center">
  
  <div id="app" class="container row row-cols-1 minHeight mt-5">
    <div style="height:200vh"></div>
  </div>
  
</div>

{{> NavigationButtons}}
<script>

{{!-- let limit = 20;
let offset = 0;
let currentPage = 1; --}}

const writeData = (data) => {
  app.innerHTML = "";
  data.forEach((data) => {
    const wikiLinkArtist = "https://en.wikipedia.org/wiki/"+data.artist.replaceAll(' ', '_');
    const linkLabel = getLinkLabel(data.label);
    app.innerHTML += `
        <div class="card border-white w-100 mb-3" data-aos="fade-up" data-aos-duration="1500">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="${data.cover}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-4 align-self-center">
              <div class="card-body">
                <h5 class="card-title"><b>${data.name}</b></h5>
                <p class="card-text"><a href="${wikiLinkArtist}"target="_blank"><b>${data.artist}</b></a></p>
                <p class="card-text"><p><b>Sello:</b> <a href="${linkLabel}"target="_blank">${data.label}</a><br><b>Lanzamineto:</b> ${data.release_year}<br><b>Genero:</b> ${data.genre}</p>
              </div>
            </div>
            <div class="col-md-4 align-self-center">
              <div class="card-body text-end">
                <h2 class="card-title mb-3">$${data.price}</h2>
                <button data-id="${data.id}" class="btn btn-warning btn-lg">Comprar</button>
              </div>
            </div>
          </div>
        </div>
        <div>
          <hr class="mt-md-5 mb-md-5 " data-aos="fade-up" data-aos-duration="1500">
        </div>
      `;
  });
};

if (!localStorage.getItem("token")) {
  window.location.href = "/login";
}
document.addEventListener("DOMContentLoaded", async () => {
    try {
      const res = await fetch(`/api/v1/discs?limit=${limit}&offset=${offset}`, {
        headers: {
          Authorization: `Bearer ${localStorage.getItem("token")}`,
        },
      });
      const data = await res.json();

      if (!data.ok) {
        window.location.href = "login";
      }
      golabalDiscs.push(...data.discs)
      writeData(data.discs);
    } catch (error) {
      console.log(error);
    }
  }
);

document.addEventListener("click", async (e) => {

  try{
    
    if (e.target.dataset.id) {
      const res = await fetch("/api/v1/discs/addDics", {
        method: "POST",
        headers: {
          Authorization: `Bearer ${localStorage.getItem("token")}`,
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ discs_id: e.target.dataset.id }),
      });
      const data = await res.json();
      if (!data.ok) {
        window.location.href = "login";
      }
      if (data.ok) {
        window.location.href = "/myCollection";
      }
    }



  } catch (error){
    console.log(error)
  }
});



</script>
