<div class="container pt-5 mt-5 pb-2">
  <form class="row align-items-center mx-5">
    <div class="col-10">
      <input id="text" type="text" class="form-control">
    </div>
    <button data-search="search" class="btn btn-warning btn-sm col-2">Buscar</button>
  </form>
</div>
<div id="textMsg" class="text-center">

</div>



<div class="d-flex justify-content-center">
  
  <div id="app" class="container row row-cols-1 minHeight mt-5">
    <div style="height:200vh"></div>
  </div>
  
</div>
<div class="d-flex justify-content-center" data-aos="fade-up" data-aos-duration="1500">
    <button id="previous" type="button" data-previous="previous" class="btn btn-outline-warning m-2 disabled"><</button>
    <label id="numberPage"class="btn m-2 disabled">1</label>
    <button id="next" type="button" data-next="next" class="btn btn-outline-warning m-2">></button>
</div>

<script>

let limit = 20;
let offset = 0;
let currentPage = 1;

const writeData = (data) => {
  app.innerHTML = "";
  data.forEach((data) => {
    const wikiLinkArtist = "https://en.wikipedia.org/wiki/"+data.artist.replaceAll(' ', '_');
    const linkLabel = getLinkLabel(data.label);
    app.innerHTML += `
        <div class="card border-white w-100 mb-3" data-aos="fade-up" data-aos-duration="1500">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="${data.cover}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-4 align-self-center">
              <div class="card-body">
                <h5 class="card-title">${data.name}</h5>
                <p class="card-text"><a href="${wikiLinkArtist}"target="_blank"><b>${data.artist}</b></a></p>
                <p class="card-text"><p><b>Sello:</b> <a href="${linkLabel}"target="_blank">${data.label}</a><br><b>Lanzamineto:</b> ${data.release_year}<br><b>Genero:</b> ${data.genre}</p>
              </div>
            </div>
            <div class="col-md-4 align-self-center">
              <div class="card-body text-end">
                <h2 class="card-title mb-3">$${data.price}</h2>
                <button data-id="${data.id}" class="btn btn-warning btn-lg">Comprar</button>
              </div>
            </div>
          </div>
        </div>
        <div>
          <hr class="mt-md-5 mb-md-5 " data-aos="fade-up" data-aos-duration="1500">
        </div>
      `;
  });
};

if (!localStorage.getItem("token")) {
  window.location.href = "/login";
}
document.addEventListener("DOMContentLoaded", async () => {
    try {
      const res = await fetch(`/api/v1/discs?limit=${limit}&offset=${offset}`, {
        headers: {
          Authorization: `Bearer ${localStorage.getItem("token")}`,
        },
      });
      const data = await res.json();

      if (!data.ok) {
        window.location.href = "login";
      }
      console.log(data.discs);
      writeData(data.discs);
    } catch (error) {
      console.log(error);
    }
  }
);

document.addEventListener("click", async (e) => {

  try{
    
    if (e.target.dataset.id) {
      const res = await fetch("/api/v1/discs/addDics", {
        method: "POST",
        headers: {
          Authorization: `Bearer ${localStorage.getItem("token")}`,
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ discs_id: e.target.dataset.id }),
      });
      const data = await res.json();
      if (!data.ok) {
        window.location.href = "login";
      }
      if (data.ok) {
        window.location.href = "/myCollection";
      }
    }

    if (e.target.dataset.next) {
      window.scrollTo(0, 0);
      offset += limit;
      const res = await fetch(
        `/api/v1/discs?limit=${limit}&offset=${offset}`,
        {
          headers: {
            Authorization: `Bearer ${localStorage.getItem("token")}`,
          },
        }
      );
      const data = await res.json();
      currentPage ++;
      numberPage.innerHTML = currentPage;
      if (offset > 0) previous.classList.remove("disabled");
      if (data.discs.length < limit) next.classList.add("disabled");
      if (!data.ok) window.location.href = "login";

      writeData(data.discs);
    }

    if (e.target.dataset.previous) {
      window.scrollTo(0, 0);
      offset -= limit;
      const res = await fetch(
        `/api/v1/discs?limit=${limit}&offset=${offset}`,
        {
          headers: {
            Authorization: `Bearer ${localStorage.getItem("token")}`,
          },
        }
      );
      const data = await res.json();
      currentPage --;
      numberPage.innerHTML = currentPage;
      if (offset == 0) previous.classList.add("disabled");
      if (data.discs.length == limit) next.classList.remove("disabled");
      if (!data.ok) window.location.href = "login";

      writeData(data.discs);
    }

    if (e.target.dataset.search) {
      e.preventDefault()
      
      textMsg.innerHTML = "";
      const text = document.getElementById("text").value.toLowerCase().trim();
      
      if(!text || !(text.length > 0)){ 
        return;
      }

      const res = await fetch(`/api/v1/discs`, {
        headers: {
          Authorization: `Bearer ${localStorage.getItem("token")}`,
        },
      });
      const data = await res.json();
      const searchRes = await data.discs.filter(
        (item) =>
          (item.label.toLowerCase().includes(text)  ||
          item.artist.toLowerCase().includes(text) ||
          item.name.toLowerCase().includes(text)   ||
          item.genre.toLowerCase().includes(text)  ||
          item.release_year.toString().includes(text)) &&
          text.length>0
      );
      if (searchRes.length === 0) {
        textMsg.innerHTML += `<p>No se encuentran ${text}</p>`;
      }
      console.log(searchRes);
      writeData(searchRes);
      console.log("fin ifs")
    }
    
  } catch (error){
    console.log( "click" + error)
  }
});


  
</script>
