<div class="container" >
  <div class="d-flex justify-content-center" style="height: 80vh">
   <div class="align-items-center border border-dark"  style="width: 70vh">
      
      <form class=" mt-5">
      <h3 class="text-center">Actualizar album</h1>
       <div class="mb-3">
        <label class="form-label">Nombre album</label>
        <input type="text" class="form-control" placeholder="Ingrese nombre album" name="name" value="Leeway">
      </div>
      <div class="mb-3">
        <label class="form-label">Nombre musico</label>
        <input type="text" class="form-control" placeholder="Ingrese nombre musico" name="artist" value="Lee Morgan">
      </div>
      <div class="mb-3">
        <label class="form-label">Genero musical</label>
        <input type="text" class="form-control" placeholder="Ingrese genero" name="genre" value="Jazz">
      </div>
      <div class="mb-3">
        <label class="form-label">A침o lanzamineto</label>
        <input type="text" class="form-control" placeholder="Ingrese a침o de lanzamineto" name="release_year" value="1961">
      </div>
      <div class="mb-3">
        <label class="form-label">Sello discogr치fico</label>
        <input type="text" class="form-control" placeholder="Ingrese sello discogr치fico" name="label" value="Blue Note">
      </div>
      <div class="mb-3">
        <label class="form-label">Precio</label>
        <input type="text" class="form-control" placeholder="Ingrese precio" name="price" value="12.999">
      </div>
      <div class="mb-3">
        <label class="form-label">Url</label>
        <input type="text" class="form-control" placeholder="Ingrese url" name="url" value="">
      </div>
      
      
      <div class="position-relative mt-4">
        <button type="submit" class="btn btn-success position-absolute start-50 translate-middle mt-3">Actualizar album</button>
      </div>
    </form>
    
   </div>
  </div>
 
  
</div>


